.sb-container {
    padding: 1em;

    ion-input {
        margin: .5em 0;
        padding: .5em !important;
        background-color: #d7d8da;
        border-radius: 9px;
        font-weight: bold;
    }
}