#trip {
    margin-top: 0;
    margin-bottom: 1em;

    ion-row {
        align-items: center;
        margin-bottom: .25em;
    }
}

.proposalRow1 {
    ion-text {
        margin-left: 8px;
    }
}

.proposalRow2 {
    justify-content: space-between;

    div {
        display: flex;
        align-items: center;
        width: 70%;
        
       hr {
           width: 90%;
           height: 3px;
           border-radius: 9px;
           background-color: black;
       }

        i {
            color: black;
            font-size: 16px;
        }
    }

}

#tripChanges {
    margin-top: 0;
    margin-bottom: 1em;

    ion-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1em;

        ion-button {
            margin: 0 !important;
        }

        ion-toggle {
            --background-checked: #eb445a;
            --handle-background: #eb445a;
            --handle-background-checked: #eb445a;
        }
    }

}

ion-modal {
    div {
        margin: 1em 3em;

        h3 {
            font-weight: bold;
            color: #eb445a;
        }

        ion-button {
            margin-top: .75em;
        }

        ion-textarea {
            margin-top: .5em;
            background-color: #f4f5f8;
            border-radius: 9px;
            padding-left: 1em;
        }

        #addContact {
            display: flex;
            align-items: center;
            margin: .5em 0;
            justify-content: space-between;

            ion-input {
                background-color: #f4f5f8;
                border-radius: 9px;
                max-width: 80% !important;
            }

        }

        #listContacts {
            display: flex;
            flex-direction: column;

            ion-text {
                margin: .3em 0;
            }
        }

        ion-list {
            display: flex;
            text-align: left;
            
            ion-item {
                border-radius: 9px;
            }
        }
    }
}

.weekday {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .25em 0;
    margin: .25em 0;
}